// Colors
$white: #FFFFFF;
$red: #F1352B;
$purple: #6E27C5;
$gray: #c2c2c2;
$darkergray: #8a8a8a;
$darkgray: #404040;
$black: #000000;
$darkred: #8c0d0d;
$robins: #01c1d6;
$blue: #150f96;
$lightblue: #69a7ff;
